<h1>Article</h1>
<table>
  <thead>
    <tr>
      <td>Title</td>
      <td>Content</td>
      <td>Link</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @article.title %></td>
      <td><%= @article.content %></td>
      <td><%= link_to "Go to home", articles_path %><td>
      <td><%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %><td>
    </tr>
  </tbody>
</table>
